/* colors for dark/light mode */
:root {
  --background: #f8f8f8;
  --background-darker: #eee;
  --border: #ccc;
  --hover: #ddd;
  --text: black;
}
.dark {
  --background: #242424;
  --background-darker: #363636;
  --hover: #484848;
  --text: #ddd;
  --border: #303030;
}


/* make everything smooth */
* {
  transition: 0.25s;
}


/* main fonts, colors, etc. */
body {
  background-color: var(--background);
  color: var(--text);
  margin: 0;
  overflow: hidden;
}
.tab, #one, #two, #three {
  font-family: 'Source Serif Pro', serif;
  font-size: 12pt;
}


/* styling for links in the footer */
#two a {
  color: inherit;
  text-decoration: none;
  padding: 0.1em;
  margin-bottom: 0.2em;
}
#two a:hover {
  cursor: pointer;
  outline: solid 1px;
  transition: 0s;
}
#two a:active {
  background-color: var(--text);
  transition: 0.25s;
}


/* to hide things */
.hidden {
  display: none;
}


/* style for invalid link warnings */
.invalid {
  color: red;
}


/* set up page layout */
#one, #two, #three:not(#code-box) {
  padding: 0.5em;
}
#three, #mid, #top, #bot {
  display: flex;
  flex-direction: column;
}
#two {
  display: grid;
  grid-template-rows: 1fr auto;
}
#mid, #bot {
  padding-top: 0.5em;
}
#html-preview-box {
  overflow: auto;
}
#one, #two {
  overflow-y: auto;
}


/* css for split.js */
.gutter {
  background-color: var(--background-darker);

  background-repeat: no-repeat;
  background-position: 50%;
}
.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}
.gutter.gutter-vertical {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
  cursor: row-resize;
}
.split {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: 0.1s;
}
.split,
.gutter.gutter-horizontal {
  float: left;
  height: 97vh;
}


/* Style the top menu */
.tab {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  border: 1px solid var(--border);
  background-color: var(--background-darker);
}
.tab button { /* Style the buttons in the menu */
  background-color: inherit;
  color: var(--text);
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1em 1em;
}
.tab button:hover {
  background-color: var(--hover); /* Change background color of buttons on hover */
}


/* style code boxes */
pre {
  white-space: pre-wrap;
  overflow: auto;
  width: 98%;
  height: 89vh;
}


/* css for articles list */
#articles-list p:hover {
  outline: solid 0.1em;
  cursor: pointer;
  transition: 0s;
}
#articles-list p {
  padding: 0.2em;
}


/* style input elements */
input, textarea {
  width: 75%;
}
input, textarea, button {
  background-color: var(--background-darker);
  border: hidden;
  border-bottom: solid var(--hover);
  color: inherit;
  outline: none;
  font: inherit;
}
input:focus, textarea:focus {
  background-color: var(--hover);
}
textarea {
  height: 5em;
}
button:hover {
  background-color: var(--hover);
  cursor: pointer;
}
#main button:active:not(:disabled) {
  transform: translateY(0.2em);
}
button:disabled {
  background-color: inherit;
  color: var(--hover);
  cursor: inherit;
}


/* make next article button float to the right */
#next-button {
  float: right;
}


/* center the footer */
#two footer {
  text-align: center;
}
