:root {
  --background: #f8f8f8;
  --background-darker: #eee;
  --border: #ccc;
  --hover: #ddd;
  --text: black;
}

.dark {
  --background: #242424;
  --background-darker: #363636;
  --hover: #484848;
  --text: #ddd;
  --border: #303030;
}

* {
  transition: 0.25s;
}

body {
  background-color: var(--background);
  color: var(--text);
}

button, #one, #two, #three:not(#code-box) {
  font-family: 'Source Serif Pro', serif;
  font-size: 12pt;
}

a {
  color: #457b9d;
}

#one, #two, #three:not(#code-box) {
  padding: 0.5em;
}

.gutter {
  background-color: var(--background-darker);

  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}

.split {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.split,
.gutter.gutter-horizontal {
  float: left;
  height: 95vh;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid var(--border);
  background-color: var(--background-darker);
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  color: var(--text);
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: var(--hover);
}

pre {
  white-space: pre-wrap;
  overflow: auto;
  width: 98%;
  height: 89vh;
}

p:hover {
  text-decoration: underline;
  cursor: pointer;
}

#one, #two {
  overflow-y: auto;
}

input, textarea {
  width: 75%;
  background-color: var(--background-darker);
  border: hidden;
  border-bottom: solid var(--hover);
  color: inherit;
  outline: none;
  font: inherit;

}

input:focus, textarea:focus {
  background-color: var(--hover);
}

textarea {
  height: 5em;
}

button {
  background-color: var(--background-darker);
  border: hidden;
  border-bottom: solid var(--hover);
  color: inherit;
}

button:hover {
  background-color: var(--hover);
  cursor: pointer;
}
